{% extends 'basic.html' %}
{% block css %}
.wh1{
width:22em;
height:12em;
}
.wh2{
    width:19em;
    height:12em;
    margin-left:20px;
     margin-right:20px;

}
.mycard{
      transition: transform .3s;
}
.mycard:hover { 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transform: scale(1.1);
}
 @media screen and (max-width: 820px) {
           .wh1{
             width:300px;
             height:150px;
             margin-right:5px;
           }
           .wh2{
               width:305px;
               height:150px;
               margin-left:5px;
     
           }
        }
{% endblock css %}
{% block body %}
<div class="container">
<div class=" col-md-12 my-0">
            <h1 style="text-align:center; font-size:xx-larger;"><b>My Cooding Plateforms</b></h1>
    </div>
  
<div class="row mt-0" >
        {% for plateform in plateforms %}
        <div class="col-md-4 col-sm-12 col-12">
            <div
                class="row no-gutters border wh1 rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative mycard">
                <a href="{{plateform.org_link}}">
                    {% comment %} <h4 class="mt-1 ml-1" >{{plateform.org_name}}</h4> {% endcomment %}               
               <img class="p-4 wh2"src="{{plateform.org_image}}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>  
{% endblock body %}